*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#app{
    margin: 3rem;
    color: #394a5e;
    font-size: 3rem;
}

.classeH1{
    color: #66b07f;
}

.classeImgFilter{
    filter:invert(1);
}